@charset "UTF-8";


body {
    text-align: left;

}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    text-indent: 35px;
}

h2#h21 {
    color: blueviolet;
}

h2#h22 {
    color: darkolivegreen;
}

h2#h23 {
    color: blue;
}